%h1 Hallo
%p Kleiner Text

%img{:src => "testimage.jpg"}

%h2 ein Link:
%a{:href => "http://de.wikipedia.org/wiki/Wikipedia:Hauptseite"} Zur Wikipedia

%p Hier ist ein Button:
%input{type: "button", value: "Button", id: "button1"}

%p Noch zwei Checkboxen:

%input{type: "checkbox", checked: true}
%input{type: "checkbox", checked: false}

